body{
    background-image: url(../imagens/papel-de-parede.jpg);
    background-size: cover;
}
/* Aqui foi feito o cabeçalho, através de um container. A imagem de fundo foi inserida separadamente - não como background-image - para que pudesse receber as mesmas medidas do container e o preencher sem que saísse distorcida ou cortada. O título recebeu uma position absolute para que pudesse ser movimentado no container sobre a imagem e posicionado no centro.*/
.container{
    position: relative; bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
.container img{
    width: 100%;
    height: 200px;
}
.container h1{
    position: absolute;
    font-family: Calibri;
}
/*Aqui foi feita a barra de links para as outras páginas do projeto com display flex para determinar um espaçamento entre eles. O links foram estilizados para combinar com o estilo do projeto.*/
.barra{
    display: flex;
    border-radius: 40px;
    justify-content: space-evenly;
    margin-bottom: 15px;  
}
@media screen and (max-width: 370px){
    .barra{
        flex-direction: column;
        text-align: center;
    }
    .barra a {
        margin: 5px;
    }
}
.barra a{
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
}
a:hover{
    background: yellow;
    color: black;
}
/*Aqui foi feito o card de apresentação da página inicial, através de um container que leva a minha foto e uma div com uma imagem de background de folha de caderno para colocar o texto. Media queries para o card ficar responsivo em outros formatos. */
.container1{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}
@media screen and (max-width: 600px){
    .container1{
        flex-direction: column;
        align-items: center;
    }
    .resumo{
        margin-top: 30px;
    }
}
.resumo{
    background-image: url(../imagens/card.png);
    max-width: 600px;
    height: 340px;
    overflow: auto;
}
.resumo p{
    margin-left: 40px;
    margin-right: 50px;
    font-size: 110%;
    font-family: Tahoma;
}
.container1 img{
    max-width: 300px;
    height: 302px;
    border: 5px solid white;
    border-radius: 70px;
}
/*Aqui foi feito a parte para os textos de apresentação e hobbies & interesses. Com um container que recebeu medidas para se tornar um flex e centralizar o conteúdo da div com os textos (p), que recebeu uma imagem de background de folha de caderno.*/
.container2{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 700px;
    margin-top: 40px;
}
.paragrafo{
    background-image: url(../imagens/texto.png);
    width: 698px;
    height: 700px;
    overflow: auto;
}
.container2 p{
    margin-top: 35px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 110%;
    font-family: Tahoma; 
}
/*Aqui foi feito o formulário de contato, com um container com display flex para centralizar a div que o contém. A div recebeu também um imagem de background de uma folha de caderno, para seguir o estilo do projeto. Os tamanhos da fonte, linha e botão foram ajustados e estilizados, uma media queries foi feita para tornar mais responsivo.*/
.container3{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.formulario{
    background-image: url(../imagens/texto.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 450px;
    overflow: auto;
}
input, textarea{
    width: 300px; max-width: 300px;
    padding: 10px;
    margin-top: 10px;
}
@media screen and (max-width: 450px){
    input, textarea{
        max-width: 190px;
    }
}
button{
    font-size: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
}
label{
    margin-top: 5px;
    font-size: 120%;
    font-family: "Tahoma";
}
button:hover{
    background: yellow;
}